<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex items-center h-16">
      <div class="flex-1 flex">
        <!-- <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
          <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
        </div> -->
        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"> Ng2 Charts Wrapper </a>
          </div>
        </div>
      </div>
      <div class="flex float-right">
        <!-- <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
          <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
        </div> -->
        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4 items-center">            
            <span (click)="language = Language.TR" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer" [ngClass]="language === Language.TR ? 'bg-gray-900' : ''">TR</span>
            <span> | </span>
            <span (click)="language = Language.EN" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer" [ngClass]="language === Language.EN ? 'bg-gray-900' : ''">EN</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
</nav>

<div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
  <div class="bg-gray-800 text-gray-500 rounded shadow-xl py-5 px-5 xl:w-1/3"> 
    <!-- lg:w-1/4 -->
      <div class="flex flex-wrap items-center">
        <div class="flex-auto">
          <!-- <h3 class="text-md font-semibold leading-tight text-gray-100"> Pie Chart
            <i class="fa fa-chevron-down text-xs"></i>
          </h3> -->
          <button class="text-md font-semibold text-gray-100">
            {{ selectedChartType }} <i class="fa fa-chevron-down text-xs"></i>
          </button>
          <div class="bg-gray-700 shadow-lg rounded text-sm top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" [ngClass]="chartTypeDropdown == true ? 'contents' : 'hidden'">
            <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
            <div class="bg-gray-700 rounded w-1/8 fixed z-10 py-1">
              <ul class="list-reset text-xs">
                <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" *ngFor="let item of enumKeys" (click)="selectedTimeInterval = item">
                  {{ item }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex-initial float-right">
          <!-- <label class="block mt-4">
            <select class="form-select mt-1 block w-full rounded bg-gray-100">
              <option *ngFor="let name of enumKeys" [value]="name"> {{ name }} </option>
            </select>
          </label> -->
          <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" (click)="timeIntervalDropdown = !timeIntervalDropdown">
            {{ selectedTimeInterval }} <i class="fa fa-chevron-down"></i>
          </button>
          <div class="bg-gray-700 shadow-lg rounded text-sm top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" [ngClass]="timeIntervalDropdown == true ? 'contents' : 'hidden'">
            <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
            <div class="bg-gray-700 rounded w-1/8 fixed z-10 py-1">
              <ul class="list-reset text-xs">
                <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" *ngFor="let item of enumKeys" (click)="selectedTimeInterval = item">
                  {{ item }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="chart-wrapper mt-5">
        <canvas *ngIf="chart.isChartLoaded == true"
          baseChart
          class="chart"
          [data]="chart.chartData"
          [labels]="chart.chartLabels"
          [chartType]="chart.currentChartType"
          [options]="chart.currentChartTypeOptions"
          [colors]="chart.chartColors"
        >
        </canvas>
        <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
        >
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
      </div>
  </div>
</div>

<!-- 
<div class="relative" @click.away="chartData.showDropdown=false">
  <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
      <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
  </button>
  <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
      <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
      <div class="bg-gray-700 rounded w-full relative z-10 py-1">
          <ul class="list-reset text-xs">
              <template x-for="(item,index) in chartData.options">
                  <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                      <span x-text="item.label"></span>
                  </li>
              </template>
          </ul>
      </div>
  </div>
</div> 
-->

<!-- <div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      {{ title }}
    </h2>
    <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
      <label class="block mt-4">
        <select class="form-select mt-1 block w-full">
          <option *ngFor="let name of enumKeys" [value]="name"> {{ name }} </option>
        </select>
      </label>
    </div>
  </div>
  <div class="mt-5 flex lg:mt-0 lg:ml-4">
    <canvas *ngIf="chart.isChartLoaded == true"
      baseChart
      class="chart"
      [data]="chart.chartData"
      [labels]="chart.chartLabels"
      [chartType]="chart.currentChartType"
      [options]="chart.currentChartTypeOptions"
      [colors]="chart.chartColors"
    >
    </canvas>
  </div>
</div> -->